# Ignorowane pliki binarne i skompilowane
*.hex
*.bin
*.elf
*.eep
*.o
*.d
*.a
*.map

# Foldery budowania (build) tworzone automatycznie
build/
.build/

# Pliki konfiguracyjne specyficzne dla lokalnego edytora (np. VS Code)
.vscode/